<div class="nav">
  <a href="/">(Start Over)</a>
</div>

<h1 id="header"><%= @message %></h1>

<div class="button_container">
  <a href="<%= @yes %>" class="my_button">Yes</a>
  <a href="<%= @no %>" class="my_button">No</a>
</div>